/* universal starts */
@font-face {
	font-family: 'Blinker-Regular';
	src: url(fonts/blinker/Blinker-Regular.ttf);
}

@font-face {
	font-family: 'Blinker-Bold';
	src: url(fonts/blinker/Blinker-Bold.ttf);
}

@font-face {
	font-family: 'Porcelain';
	src: url(fonts/porcelain/Porcelain.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: fit-content;
}

section {
	width: 100%;
	height: fit-content;
	background-color: #fff;
}

hr {
	width: 100%;
	margin: 20px 0 50px;
}

section.projects.hidden,
section.about.hidden {
	display: none;
}

/* universal ends */

/* header starts */
header {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	background-color: #fff;
	z-index: 10;
}

#playBtn img,
.phone img {
	width: 30px;
}

.logo {
	display: none;
}

.logo img {
	width: 130px;
}

.searchbar {
	width: 70%;
	max-width: 450px;
	height: 35px;
	display: flex;
	flex-direction: row;
	border: 1px solid #000;
	border-radius: 30px;
	align-items: center;
	justify-content: space-between;
	padding: 2px 10px;
}

.searchbar img {
	width: 22px;
	height: 22px;
}

.searchbar input {
	width: 100%;
	height: 99%;
	border: none;
	outline: none;
	font-family: 'Blinker-Regular';
	font-size: 18px;
	margin: 0 5px;
}

/* header ends */

/* .main starts */

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main img {
	max-width: 400px;
	height: auto;
	background-color: transparent;
}

.portfolio {
	width: fit-content;
	height: fit-content;
	position: relative;
}

#chk {
	display: none;
}

.popup {
	width: 100%;
	height: 70%;
	position: absolute;
	top: 0;
	background-color: transparent;
	display: none;
	transition: 0.5s;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.item img {
	width: 50px;
	background-color: #fff;
	padding: 10px;
	box-shadow: #000 2px 2px 10px;
}

.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover {
	scale: 1.2;
}

.item-1 {
	grid-area: item-1;
	justify-content: flex-end;
	padding-right: 10px;
	animation: bump 0.4s linear;
}

.item-1 img {
	border-radius: 20px 0px 20px 20px;
}

.item-2 {
	grid-area: item-2;
	justify-content: flex-start;
	animation: bump 0.4s linear;
}

.item-2 img {
	border-radius: 0px 20px 20px 20px;
}

.item-3 {
	grid-area: item-3;
	align-items: flex-start;
	animation: bump 0.4s linear;
}

.item-3 img {
	border-radius: 20px 0px 20px 20px;
}

.item-4 {
	grid-area: item-4;
	align-items: flex-start;
	animation: bump 0.4s linear;
}

.item-4 img {
	border-radius: 0px 20px 20px 20px;
}

.item-a {
	grid-area: item-a;
}

.item-b {
	grid-area: item-b;
}

.item-c {
	grid-area: item-c;
}

.item-d {
	grid-area: item-d;
}

.item-e {
	grid-area: item-e;
}

#chk:checked~.popup {
	opacity: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 'item-1 item-a item-2'
		'item-c item-d item-e'
		'item-3 item-b item-4';

}

.name {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -150px;
	z-index: 2;
}

.name h1 {
	text-transform: capitalize;
	font-size: 80pt;
	font-family: 'porcelain';
	color: #ed2828;
}

.name h3 {
	font-family: 'Blinker-Regular';
	color: #000;
	font-size: 28px;
	margin-top: -24px;
}

.nav {
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	display: none;
}

.nav a {
	width: 45%;
	height: 50px;
	background-color: #e7e7e7;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 10px;
	text-decoration: none;
	font-size: 23px;
	font-weight: bold;
	letter-spacing: 1.7px;
	font-family: 'porcelain';
	padding: 0 10px;
}

.nav a svg {
	width: 35px;
	background-color: transparent;
	border-radius: 4px;
	fill: var(--accent-color);
}

.nav a span {
	color: var(--accent-color);
}

/* .main ends */

/* section-about starts */
.about {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.section-header {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	background-color: #f3f3f3;
	border-radius: 20px;
	transition: 0.5s;
}

.section-header img {
	width: 40px;
}

.section-header h4 {
	font-family: 'Blinker-Bold';
	font-size: 35px;
	color: #ed2828;
	text-transform: uppercase;
}

.section-header:hover {
	scale: 1.05;
}

article {
	width: 100%;
	max-width: 800px;
}

article p {
	font-family: 'Blinker-Regular';
	font-size: 20px;
	text-align: justify;
}

/* section-about ends */

/* section-brand starts */
.brand {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.brand-gallery {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
}

.brand-row {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.brand-row img {
	width: 100%;
}

/* section-brand ends */

/* section-graphic starts */
.graphic {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.graphic-gallery {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
}

.graphic-row {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.graphic-row img {
	width: 100%;
}
/* section-graphic ends */

/* section-social starts */
.social {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.social-gallery {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
}

.social-row {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.social-row img {
	width: 100%;
}
/* section-social starts */

/* footer starts */
footer {
	width: 100%;
	height: fit-content;
	background-color: #c7c2c2ef;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-content {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
}

.footer-comment {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Blinker-Regular';
	align-items: center;
	justify-content: center;
}

.footer-comment textarea {
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	font-size: 18px;
	border: none;
	outline: none;
	font-family: 'Blinker-Regular';
}

.footer-comment button {
	width: 250px;
	padding: 5px 0;
	text-transform: uppercase;
	font-family: 'Blinker-Bold';
	font-size: 20px;
	background-color: #f7f9fc;
	color: #000;
	border: none;
	outline: none;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer-comment button img {
	width: 25px;
	margin: 0 10px;
}

.footer-buttons {
	font-family: 'Blinker-Regular';
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid #000000;
	border-radius: 10px;
	margin: 10px 0;
	padding-right: 2px;
}

.footer-buttons-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	text-transform: capitalize
}

.footer-buttons a {
	text-decoration: none;
	padding: 15px 10px;
	background-color: #000000;
	color: #ececec;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	margin: 2px;
	text-transform: uppercase;
	width: fit-content;
	transition: 0.5s;
}

.footer-buttons a:hover {
	color: #fff;
	scale: 1.1;
}

.footer-buttons img {
	width: 60px;
}

.vl {
	width: 2px;
	height: 100px;
	background-color: #000;
	margin: 0px 20px;
	display: none;
}

.footer-copyright {
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(151, 145, 145);
	color: #fff;
}

/* footer ends */

@keyframes bump {
	0% {
		opacity: 0;
		scale: 1;
		rotate: 0deg;
	}

	50% {
		opacity: 0.5;
		scale: 1.3;
	}

	100% {
		opacity: 1;
		scale: 1;
		rotate: 360deg;
	}
}


/* tab responsive starts */
@media(min-width:750px) {

	.brand-gallery,
	.graphic-gallery,
	.social-gallery {
		max-width: 100%;
	}

	.brand-row {
		flex-direction: row;
		justify-content: space-between;
	}

	.brand-row-1 div {
		width: 33.33%;
	}

	.brand2-1 {
		width: 22%;
	}

	.brand2-2 {
		width: 78%;
	}

	.brand3-1 {
		width: 77%;
	}

	.brand3-2 {
		width: 23%;
	}

	.graphic-row {
		flex-direction: row;
		justify-content: space-between;
	}

	.graphic-row-1 div {
		width: 49.6%;
	}

	.graphic2-1 {
		width: 37.5%;
	}

	.graphic2-2 {
		width: 61%;
	}


	.social-row {
		flex-direction: row;
		justify-content: space-between;
	}

	.social-row-1 div,
	.social-row-2 div {
		width: 33%;
	}

	.footer-content {
		flex-direction: row;
		max-width: 900px;
		padding: 30px 40px;
	}

	.vl {
		display: block;
	}

	.footer-comment {
		width: 50%;
	}

	.footer-comment textarea {
		height: 100px;
	}

	.footer-comment button {
		width: 300px;
	}

	.footer-buttons {
		width: 40%;
	}


}

/* tab responsive ends */

/* laptop responsive starts */
@media (min-width:1100px) {

	header,
	.about,
	.projects {
		max-width: 1080px;
		margin: 0 auto;
	}

	header {
		grid-area: header;
		position: sticky;
		top: 0;
	}

	.logo {
		display: block;
	}

	#playBtn {
		display: none;
	}

	.main {
		grid-area: main;
		position: sticky;
		top: 100px;
	}

	.nav {
		display: flex;
	}

	.about {
		grid-area: about;
	}

	.about .section-header {
		margin-top: 30px;
	}

	.brand {
		grid-area: brand;
	}

	.graphic {
		grid-area: graphic;
	}

	.social {
		grid-area: social;
	}

	footer {
		grid-area: footer;
	}

	.container {
		width: 1080px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			'header header header'
			'main about about'
			'. brand brand'
			'. graphic graphic'
			'. social social'
			'footer footer footer'
		;
    }

}
	/* laptop responsive ends */